@use '../base/variables';

.ct-chart {
  .ct-series-a .ct-area {
    fill: #f50057;
    fill-opacity: 0.6;
  }

  .ct-series-b .ct-area {
    fill: #9c27b0;
    fill-opacity: 0.6;
  }

  .ct-grid {
    stroke: rgba(variables.$grey, 0.4);
    stroke-width: 2px;
    stroke-dasharray: 0px;
  }
}

.hours____pie-chart {
  .ct-series-a .ct-bar,
  .ct-series-a .ct-line,
  .ct-series-a .ct-point,
  .ct-series-a .ct-slice-donut {
    stroke: #b8208a;
  }
  .ct-series-b .ct-bar,
  .ct-series-b .ct-line,
  .ct-series-b .ct-point,
  .ct-series-b .ct-slice-donut {
    stroke: #c542d6;
  }
  .ct-series-c .ct-bar,
  .ct-series-c .ct-line,
  .ct-series-c .ct-point,
  .ct-series-c .ct-slice-donut {
    stroke: #df63c0;
  }
}

#line-chart {
  .ct-series-a .ct-bar,
  .ct-series-a .ct-line,
  .ct-series-a .ct-point,
  .ct-series-a .ct-slice-donut {
    stroke: #8c55c0;
  }
}
