@use '../base/variables';

.nav {
  min-width: 230px;
  min-height: calc(100vh - 70px);
  height: auto;
  background-color: variables.$navBcg;

  @media (max-width: 670px) {
    min-width: 180px;
    width: 180px;
  }

  @media (max-width: 430px) {
    min-width: 100%;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 70px;

    @media (max-width: 670px) {
      width: 180px;
    }

    @media (max-width: 430px) {
      min-width: 100%;
      width: 100%;
      position: static;
    }  
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 17px;
    width: 100%;
    height: 60px;
    opacity: 0.502;
    font-size: 14px;
    line-height: 28px;
    color: variables.$white;
    font-weight: 400;
    font-family: 'Open Sans';
  }

  &__item_active {
    background-color: variables.$activeLink;
    opacity: 1;
  }

  &__item:hover {
    background-color: #455a64;
  }

  &__icon {
    opacity: 0.502;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }

  &__link {
    color: inherit;
  }

  @media (max-width: 430px) {
    width: 100%;
    min-height: auto;
    height: auto;
  }
}
