@use '../base/variables';

.progress {
  width: 100%;
  padding-top: 50px;

  @media (max-width: 560px) {
    padding-top: 20px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

    @media (max-width: 900px) {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 35px;
    border-bottom: 2px solid rgba(#bcc7d3, 0.4);
    margin-bottom: 40px;

    @media (max-width: 560px) {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 10px;
      padding-bottom: 15px;
      padding-left: 20px;
    }
  }

  &__header_box {
    border-bottom: none;
  }

  &__title {
    font-size: 18px;
    letter-spacing: 0px;
    color: variables.$navBcg;
    font-weight: 500;
  }

  &__title_inbox {
    font-size: 21px;
    line-height: 17px;
    margin-bottom: 5px;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 300;
    color: variables.$navBcg;
    letter-spacing: 0px;
    opacity: 0.8;
  }

  &__label {
    font-size: 14px;
    line-height: 21px;
    color: #78909c;
  }

  &__timeline {
    position: relative;

    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    @media (max-width: 560px) {
      margin-top: 10px;
    }
  }

  &__timeline::after {
    content: url('assets/images/Down.svg');
    position: absolute;
    top: 10px;
    right: 10px;
    pointer-events: none;

    @media (max-width: 900px) {
      top: 50%;
    }
  }

  &__box {
    background-color: variables.$white;
    box-shadow: 1px 1.732px 3px rgba(139, 157, 175, 0.1);
    padding: 30px 20px;
  }

  &__box_lg {
    width: 100%;
  }

  &__box_md {
    width: 65%;

    @media (max-width: 900px) {
      width: 100%;
      margin-top: 10px;
    }
  }

  &__box_sm {
    width: 32%;
    padding: 32px 25px;

    @media (max-width: 900px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  &__box_sml {
    width: 32%;
    padding: 0;

    @media (max-width: 900px) {
      width: 100%;
    }
  }

  &__box_low {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 10px;

    @media (max-width: 1305px) {
      justify-content: space-between;
    }
  }

  &__square {
    width: 60px;
    height: 60px;
    border-radius: 2px;
    background-color: variables.$grey;
    margin-right: 35px;

    @media (max-width: 1305px) {
      margin-right: 0;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
    margin: 0 10px;
  }

  &__update {
    font-size: 13px;
    line-height: 23px;
    color: variables.$navBcg;
    margin-left: 140px;
    margin-right: 50px;

    @media (max-width: 1305px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__time,
  &__comments {
    font-size: 14px;
    line-height: 21px;
    color: variables.$navBcg;
    display: flex;
    justify-content: space-between;
    align-items: center;

    time,
    span {
      display: inline-block;
      padding-top: 5px;
    }
  }

  &__time {
    margin-right: 20px;
  }

  &__comments {
    margin-right: 60px;

    @media (max-width: 1305px) {
      margin-right: 0;
    }
  }

  &__line {
    width: 200px;
    height: 8px;
    border-radius: 4px;
    background-color: variables.$grey;

    @media (max-width: 1010px) {
      margin-top: 10px;
    }
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }

  &__item:nth-child(2) {
    border-top: 2px solid rgba(#bcc7d3, 0.4);
    border-bottom: 2px solid rgba(#bcc7d3, 0.4);
  }

  .item__text {
    font-size: 21px;
    line-height: 17px;
    color: variables.$navBcg;
    text-align: center;
    width: 40%;
  }

  .item__number {
    margin-bottom: 5px;
  }

  .item__subtitle {
    font-size: 14px;
  }

  &__sum {
    text-align: center;
    font-size: 32px;
    line-height: 21px;
    color: variables.$navBcg;
  }

  &__export {
    border: none;
    background: transparent;
    font-size: 12px;
    text-decoration: underline;
    color: #a1b1c2;
    position: absolute;
    bottom: 32px;
    right: 25px;
  }
}
