@use './variables';
@use './fonts';

%navText {
  opacity: 0.502;
  font-size: 14px;
  line-height: 28px;
  color: variables.$white;
  font-weight: 400;
  font-family: 'Open Sans';
}

%navIcons {
  opacity: 0.502;
  width: 16px;
  height: 14px;
  object-fit: contain;
  object-position: center;
}

%paragrafText {
  font-size: 18px;
  letter-spacing: 0px;
  color: variables.$navBcg;
  font-family: 'Avenir Next LT Pro';
}

%selectText {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: variables.$navBcg;
  font-family: 'Avenir Next LT Pro';
}

%titleText {
  font-size: 21px;
  line-height: 17px;
  color: variables.$navBcg;
  font-family: 'Avenir Next LT Pro';
}

%dataText {
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: variables.$navBcg;
  font-family: 'Avenir Next LT Pro';
}
